*{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    }
    
    body{
        display: flex;
        flex-direction: column;
        padding: 50px;
        background-color:black;
        gap:20px;
        color: white;

    }
    
    
    #contenedorVideos{
        display: flex;
        gap: 20px;
        flex-wrap: wrap;
        justify-content: space-evenly;
        color: white;

    }
    .main{
        display: flex;
        flex-direction: column;
        padding: 10px;
        gap: 20px;
    }
    
    .main_videos{
        width: 350px;
        height: 300px;
        position: relative;
    }    
    
    .video {
        width: 100%;
        height: 100%;
    }

    .main_videos iframe {        
        width: 100%;
        height: 100%;
    }

    .main_filtros{
        display: flex;
        gap: 665px;
    }

    #agregarVideo, #linkAdd{
        float:right;
        color: white;
    }

    .video_delete{
        font-size: 20px;
        position: absolute;
        top:0;
        background-color: transparent;
        border: none;
        display: none;
    }

    .video_delete:hover{
        transform:scale(0.8);
        cursor: pointer;
    }

    .main_videos:hover .video_delete {
        display: block;
    }



    #todos, #salsa, #merengue, #regaetton, #buscar {
        border-radius: 6px;
        background-color: black;
        width: 100px;
        height: 30px;
        color: white;
        border-color: gray;
        
    }


    #buscarName{
        width: 300px;
        height: 30px;
    }

    .nameCancion {
        position: absolute;
        bottom:0;
    }    
    .nameAutor {
        position: absolute;
        bottom:5;
    }

    .botonEliminar {
        position: absolute;
        bottom:0;
    }

    @media screen and (max-width: 370px){

        body{
            display: flex;
            flex-direction: column;
            padding: 0px;
            background-color:aliceblue;
            gap:5px;
            font-size: xx-small;  
            background-color:black;
            color: white;
        }

        .main{
            display: flex;
            flex-direction: column;
            padding: 0px;
            gap: 5px;
        }
                
        #contenedorVideos{
            gap: 5px;
            padding: 2px;
            flex-wrap:wrap;
            justify-content:space-evenly;
        }  

        .main_videos{
            width: 80px;
            height: 90px;
            position: relative;
        }           

    
        .main_filtros{
            display: flex;
            flex-direction: column;
            gap: 0px;
        }
    
        #agregarVideo{
            float:right;
        }
        
        #todos, #salsa, #merengue, #regaetton, #buscar {
            border-radius: 4px;
            background-color: gray;
            width: 40px;
            height: 10px;
            color: white;
            font-size: xx-small;
        }
    
    
        #buscarName{
            width: 100px;
            height: 10px;
            font-size: xx-small;
        }
    
        .nameCancion {
            position: absolute;
            bottom:0;
        }    
        .nameAutor {
            position: absolute;
            bottom:5;
        }
    
        .botonEliminar {
            position: absolute;
            bottom:0;
        }
        
        #titulo, #agregarVideo{
            font-size: xx-small;
        }
    }